
<div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-xs-12 mb-1">
        <h2 class="content-header-title">Quotes and Policies</h2>
      </div>
      <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
        <div class="breadcrumb-wrapper col-xs-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="#">Quotes and Policies</a>
            </li>
            <li class="breadcrumb-item active"><a href="#">Qoute #123</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="content-body"><!-- Basic form layout section start -->
      <section id="basic-form-layouts">
        <div class="row match-height">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title" id="basic-layout-form">Applicant Info</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body collapse in">
                <div class="card-block">
                  <div class="card-text">
<!--                    <p>This is the most basic and default form having form sections. To add form section use <code>.form-section</code> class with any heading tags. This form has the buttons on the bottom left corner which is the default position.</p>-->
                  </div>
                  <form class="form">
                    <div class="form-body">
                      <h4 class="form-section"><i class="icon-head"></i> Company Info</h4>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="projectinput1">Client Name</label>
                            <input type="text" id="projectinput1" class="form-control" placeholder="Burger King" name="fname">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="projectinput3">E-mail</label>
                            <input type="text" id="projectinput3" class="form-control" placeholder="burgerking@burgerking.com" name="email">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="projectinput4">Contact Number</label>
                            <input type="text" id="projectinput4" class="form-control" placeholder="020-234353242" name="phone">
                          </div>
                        </div>
                      </div>

                      <h4 class="form-section"><i class="icon-clipboard4"></i>Business Description</h4>
                      <div class="form-group">
                        <label for="projectinput8">About Business</label>
                        <textarea id="projectinput8" rows="5" class="form-control" name="comment" placeholder="Burgers"></textarea>
                      </div>
                    </div>

                    <div class="form-actions">
                      <button type="button" class="btn btn-warning mr-1">
                        <i class="icon-cross2"></i> Cancel
                      </button>
                      <button type="submit" class="btn btn-primary">
                        <i class="icon-check2"></i> Save
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title" id="basic-layout-colored-form-control">Policy Details</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    <li><a data-action="close"><i class="icon-cross2"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-body collapse in">
                <div class="card-block">

                  <div class="card-text">
<!--                    <p>You can always change the border color of the form controls using <code>border-*</code> class. In this example we have user <code>border-primary</code> class for form controls. Form action buttons are on the bottom right position.</p>-->
                  </div>

                  <form class="form">
                    <div class="form-body">
                      <h4 class="form-section"><i class="icon-eye6"></i> About Policy</h4>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="userinput1">Policy name</label>
                            <input type="text" id="userinput1" class="form-control border-primary" placeholder="Worker Compensation" name="name">
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="userinput3">Premium</label>
                            <input type="text" id="userinput3" class="form-control border-primary" placeholder="$3423" name="username">
                          </div>
                        </div>
                      </div>


                    </div>

<!--                    <div class="form-actions right">-->
<!--                      <button type="button" class="btn btn-warning mr-1">-->
<!--                        <i class="icon-cross2"></i> Cancel-->
<!--                      </button>-->
<!--                      <button type="submit" class="btn btn-primary">-->
<!--                        <i class="icon-check2"></i> Save-->
<!--                      </button>-->
<!--                    </div>-->
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <!-- // Basic form layout section end -->
    </div>
  </div>


